{% extends "base.html" %}
{% block content_about %}
{% load static %}
<div class="container">
    <div class="row">
        <h1 id="aboutus">Who We Are</h1>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est eveniet temporibus magni praesentium inventore
        natus sunt dolore quisquam in esse qui ea corporis, porro aspernatur doloribus possimus similique voluptatum
        voluptatibus?</p>
</div>
<div id="services">
    <div class="container">
        <div class="services-list">
            <div>
                <h2>Where We're From</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </div>
            <div>
                <h2>Our Resources</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </div>
            <div>
                <h2>Our Goal</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </div>
            <!-- <div>
                        <h2>Architectural Design</h2>
                        <p>CTE experience in AUTOCAD. Created mulitple orthographic projections for fragrence bottles. Some other projects include creating a 2d model of a door, mirror, etc.</p>
                    </div> -->
        </div>
    </div>
</div>
{% endblock content_about %}