{% extends "base.html" %}
{% block content_about %}
{% load static %}
<div class="container">
    <button type="submit" class="btn4"><i class="fa fa-leaf"></i>&nbsp;&nbsp;An Intro To Life</button>
    <h1 id="aboutus">Who We Are</h1>
    <br>
    <br>
    <br>
    <br>

    <div class="row">


        <div class="services-col-2">
            <img src="../static/images/services_stock.png">
        </div>
        <div class="services-col-1">
            <h1 class="sub-title">About Us</h1>
            <p id="whoweare">IntroLife is for everyone—families, couples, adults, teens, and children.
                With care for the full spectrum of mental health issues, from stress to depression, our clients can show
                up at their best for their families, their jobs, and their daily lives.</p>
        </div>

    </div>
    <div class="container"></div>
    <div class="row">

        <div class="services-col-3">
            <h1 class="sub-title">Helping Others</h1>
            <p id="whoweare">The care we provide helps people heal—and we have peer-reviewed research to prove it. With
                IntroLife, more people get better, significantly improve, and achieve lasting results. And you have
                confidence that when your people reach out for care, IntroLife will help them feel better so they can
                stay productive and engaged.</p>
        </div>

        <div class="services-col-4">
            <img src="../static/images/TALKING.png">
        </div>
    </div>
</div>
</div>
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title2">Let's See What Our Clients Have to Say...</h1>
        <div class="work-list">
            <div class="work">
                <img src="../static/images/person1.png">
                <div class="layer">
                    <h3>Steve</h3>
                    <p>I was offered IntroLife through an employer/EAP and found the therapy SO engaging and
                        helpful. The education content was really easy to view and impactful, and was assigned by my
                        life coach. Definitely an amazing resource.</p>
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                </div>
                <p class="mobileText">I was offered IntroLife through an employer/EAP and found the therapy SO
                    instrumental and helpful. The education content was really easy to view and impactful, and was
                    assigned by my life coach. Definitely an amazing resource. -Steve</p>
            </div>
            <div class="work" class="hidden7">
                <img src="../static/images/person2.png">
                <div class="layer">
                    <h3>Chelsea</h3>
                    <p>After working several hours in person, I needed some way to get things off my chest. IntroLife is
                        definitely an amazing resource for employers to offer their employees, especially after the past
                        2 years of COVID...</p>
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                </div>
                <p class="mobileText">After working several hours in person, I needed some way to get things off my
                    chest. IntroLife is definitely an amazing resource for employers to offer their employees,
                    especially after the past 2 years of COVID... - Chelsea</p>
            </div>
            <div class="work" class="hidden8">
                <img src="../static/images/person3.png">
                <div class="layer">
                    <h3>Adam</h3>
                    <p>After using IntroLife, I found a new happiness, and now am happier than ever. After losing my job
                        and some friends, I thought I would never be able to be where I am today! I now travel the world
                        as a hobby and life is as thrilling as it gets!</p>
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                </div>
                <p class="mobileText">After using IntroLife, I found a new happiness, and now am happier than ever.
                    After losing my job and some friends, I thought I would never be able to be where I am today! I now
                    travel the world as a hobby and life is as thrilling as it gets! - Adam</p>
            </div>
        </div>

    </div>
</div>
</div>

<script defer src="{% static 'app.js' %}"></script>

{% endblock content_about %}