{% extends "base.html" %}
{% block content_about %}
{% load static %}
<div class="container">
    <div class="row">
        <h1 id="aboutus">Who We Are</h1>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est eveniet temporibus magni praesentium inventore
        natus sunt dolore quisquam in esse qui ea corporis, porro aspernatur doloribus possimus similique voluptatum
        voluptatibus?</p>
</div>
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">Client Testimonies</h1>
        <div class="work-list">
            <div class="work">
                <img src="../static/images/client1.png">
                <div class="layer">
                    <h3>John, 42</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque eaque placeat, unde
                        error quidem laborum vel similique perspi.</p> 
                </div>
            </div>
            <div class="work">
                <img src="../static/images/client2.png">
                <div class="layer">
                    <h3>Jasmine, 24</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque eaque placeat, unde
                        error quidem laborum vel similique perspi.</p>
                </div>
            </div>
            <div class="work">
                <img src="../static/images/client3.png">
                <div class="layer">
                    <h3>Craig, 30</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque eaque placeat, unde
                        error quidem laborum vel similique perspi.</p>
                </div>
            </div>
        </div>
        <a href="#" class="btn">See More</a>
    </div>
</div>
</div>
{% endblock content_about %}