{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">     
    <title>IntroLife.</title>
    <script src="https://kit.fontawesome.com/e43e885c09.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <body>
            <div id = "header">
                <div class = "container">
                    <nav>
                        <a href = "{% url 'home' %}"><img src = "{% static 'images/IntroLifeLogo.png' %}" class = "logo"></a>
                        <ul>
                            <li><a href = "{% url 'home' %}">Home</a></li>
                            <li><a href = "{% url 'about' %}">About</a></li>
                            <!-- <li><a href = "">Services</a></li>
                            <li><a href = "">Contact</a></li> -->
                    
                            {% if user.is_authenticated %}
                            
                            <li><a href = "{% url 'logout' %}">Logout</a></li>
                            <li>{{ user.username }}</li>
                            <li><a href="{% url 'platform' %}">Platform</a></li>
                            <!-- <li><a href = "#">IntroChat</a></li> -->

                            {% else %}
                            <li><a href = "{% url 'signup' %}">Sign Up</a></li>
                            <li><a href = "{% url 'login' %}">Login</a></li>

                            {% endif %}
                            <!-- <i class = "fas fa-times"></i> -->
                        </ul>
                        <!-- <i class="fa-solid fa-bars"></i> -->
                    </nav>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            {% block content_about %}
            {% endblock %}
            {% block signup_content %}
            {% endblock %}
            {% block login_content %}
            {% endblock %}
            {% block introchat_content %}
            {% endblock %}
            {% block createpost_content %}
            {% endblock createpost_content %}
            {% block post_content %}
            {% endblock post_content %}
    </body>
    <footer>
        <div class = "container">
            <p>Created by Ethan Lung and Shreyas Nair</p>
            <p>© Ethan Lung and Shreyas Nair</p>
        </div>
    </footer>
    </body>
</html>