{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">     
    <title>IntroLife.</title>
    <script src="https://kit.fontawesome.com/e43e885c09.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'app.js' %}"></script>
    </head>
    <link rel = "stylesheet" href = "{% static 'style.css' %}" > 
<section style = "background-image: url('../static/images/background1.jpg');">

    <body >
        <header id = "navToolbar3" >
           
            <nav id = "navToolbar2" >
              <img src = "{% static 'images/IntroLifeLogo.png' %}" class = "logo"/>

              <ul id = "navToolbar" >
                
                  
          
              
                <li class = "toolbar"><a href = "{% url 'home' %}" style = "color:lightgreen;">Home</a></li>
                    <li class = "toolbar"><a href = "{% url 'about' %}" style = "color:lightgreen;">About</a></li>
                    <!-- <li><a href = "">Services</a></li>
                    <li><a href = "">Contact</a></li> -->
            
                    {% if user.is_authenticated %}
                    
                    <li class = "toolbar""><a href = "{% url 'therapy' %}" style = "color:lightgreen;">Therapy</a></li>
                    <li class = "toolbar"><a href="{% url 'platform' %}" style = "color:lightgreen;">Platform</a></li>
                    <li class = "toolbar" style = "color:pink;"><a style = "color:pink;">{{ user.username }}</a></li>
                    <li class = "toolbar"><a href = "{% url 'logout' %}" style = "color:lightgreen;">Logout</a></li>
                    <!-- <li><a href = "#">IntroChat</a></li> -->

                    {% else %}
                    <li class = "toolbar"><a href = "{% url 'signup' %}" style = "color:lightgreen;">Sign Up</a></li>
                    <li class = "toolbar"><a href = "{% url 'login' %}" style = "color:lightgreen;">Login</a></li>

                    {% endif %}
                    <!-- <i class = "fas fa-times"></i> -->
               
                <!-- <i class="fa-solid fa-bars"></i> -->
              </ul>
            </nav>
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <ul class="mobile-menu">
                <li class = "toolbar"><a href = "{% url 'home' %}" style = "color:lightgreen;">Home</a></li>
                    <li class = "toolbar"><a href = "{% url 'about' %}" style = "color:lightgreen;">About</a></li>
                    <!-- <li><a href = "">Services</a></li>
                    <li><a href = "">Contact</a></li> -->
            
                  
                    {% if user.is_authenticated %}
                    <li class = "toolbar""><a href = "{% url 'therapy' %}" style = "color:lightgreen;">Therapy</a></li>
                    <li class = "toolbar"><a href="{% url 'platform' %}" style = "color:lightgreen;">Platform</a></li>
                    <li class = "toolbar" style = "color:lightpink;">{{ user.username }}</li>
                    <li class = "toolbar"><a href = "{% url 'logout' %}" style = "color:lightgreen;">Logout</a></li>
                    <!-- <li><a href = "#">IntroChat</a></li> -->

                    {% else %}
                    <li class = "toolbar"><a href = "{% url 'signup' %}" style = "color:lightgreen;">Sign Up</a></li>
                    <li class = "toolbar"><a href = "{% url 'login' %}" style = "color:lightgreen;">Login</a></li>
                    {% endif %}
              </ul>
            </div>
          </header>


        <nav>
            


            <ul id = "toolbar1">
              
                    
            </ul>
         </nav>

        






            
          
            {% block content %}
            {% endblock %}
            {% block content_about %}
            {% endblock %}
            {% block signup_content %}
            {% endblock %}
            {% block login_content %}
            {% endblock %}
            {% block introchat_content %}
            {% endblock %}
            {% block createpost_content %}
            {% endblock createpost_content %}
            {% block post_content %}
            {% endblock post_content %}
            {% block subscribe_content %}
            {% endblock subscribe_content %}
            {% block privacy_content %}
            {% endblock privacy_content %}
            {% block therapy_content %}
          {% endblock therapy_content %}
    </body>
    <footer>
        <div class="copyright">
            <p>Copyright © 2022 Introlife, Inc. All trademarks and registered trademarks appearing on IntroLife are the property of their respective owners. Please be advised that all images provided herein are devoid of any copyright restrictions, and are therefore considered to be in the public domain.</p>
            <p>All Rights Reserved.</p>
            <p><a href="{% url 'privacypolicy' %}" style = "color:aliceblue;">Privacy Policy</a></p>
        </div>
     
    </footer>


  </section>
    </body>
</html>