{% extends "base.html" %}
{% block content %}
{% load static %}

<div class = "intro">
    <h1 class="logo-header">
        <span class="logo1">Intro </span><span class = "logo1">Life.</span>
    </h1>
</div> 
<div class = "fullscreen" class = "hidden"> 
    <div class="header-text" >
        <h1 id="">Hi. We're <span>IntroLife, <br> a mental health company.</h1>
    </div>
</div>

<!--About-->
<div id="about" class = "hidden2">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../static/images/mentalhealth.png">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">A Quick Intro</h1>
                <p id = "sub-title2">We're a mental health company based in Westfield, New Jersey. We offer therapy, counseling, and
                    checkups; along with an online mental-health based social media service.</p>
                <br>
                <p>Here at IntroLife, we care about you. Reach out to us for more information!</p>
            </div>
        </div>
    </div>
</div>
<!---Services-->

<div id="services">
    <div class="container">
        <h1 class="sub-title">Our Services</h1>
        <div class="services-list">
         
            <div class = "services-text">
                <h2>Therapy</h2>
                <p>Professional, high quality therapists are readily available to talk to you.</p>
            </div>
            <div  class = "services-text">
                <h2>Supportive Online Community</h2>
                <p>IntroLife offers a robust online social media platform where users can talk about their successes in
                    life; even if it's just the little things.</p>
            </div>
            <!-- <div>
                        <h2>Architectural Design</h2>
                        <p>CTE experience in AUTOCAD. Created mulitple orthographic projections for fragrence bottles. Some other projects include creating a 2d model of a door, mirror, etc.</p>
                    </div> -->
        </div>
    </div>
</div>
<!----Portfolio-->

<!----contact-->

<div id="contact">
    <div class="container">
        <!-- <div class="row"> -->
            <a href="{% url 'subscribe' %}" style = "text-decoration:none;">
                <button class = "btn btn-primary">Join Our Mailing List</button>
            </a>        
        <!-- </div> -->
    </div>
</div>
<script defer src = "{% static 'app.js' %}"></script>
<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname) {
        for (tablink of tablinks) {
            tablink.classList.remove("active-link");
        }
        for (tabcontent of tabcontents) {
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");

    }
</script>
{% endblock content %}