{% extends 'base.html' %}
{% block introchat_content %}
<a href="{% url 'createpost' %}" style="text-decoration:none; cursor: grab;">
        <button class = "btn btn-primary">Create Post</button>
</a>
{% for post in post %}
<div id = "services">
        <div class = "container">
                <!-- <p>{{ post.title }} - <i>{{ post.author }}</i></p>
                <p>{{ post.body }}</p>
                <br> -->
                        <div class="services-list">
                                <a href="{{ post.get_absolute_url }}", style = "text-decoration:none; color:white;">
                                        <div>
                                                <h2>{{ post.title }}</h2>
                                                <p>{{ post.body }}</p>
                                            </div>
                                </a>
        </div>
</div>
{% endfor %}    
{% endblock introchat_content %}